@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido a la Biblioteca</h1>
    <p class="lead">Nuestra biblioteca ofrece una amplia selección de libros para disfrutar y aprender.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Explorar libros &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nuevos libros</h2>
        <p>Descubre los libros más recientes que hemos añadido a nuestra colección.</p>
        <p><a class="btn btn-default" href="#">Ver más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Búsqueda avanzada</h2>
        <p>Utiliza nuestra herramienta de búsqueda para encontrar libros por título, autor, género, etc.</p>
        <p><a class="btn btn-default" href="#">Buscar libros &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prestamos</h2>
        <p>Consulta los libros que tienes en préstamo y realiza la devolución cuando hayas terminado.</p>
        <p><a class="btn btn-default" href="#">Mis préstamos &raquo;</a></p>
    </div>
</div>
